@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nexa';
  src: url('~/assets/fonts/Nexa-ExtraLight.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('~/assets/fonts/Nexa-Heavy.ttf');
  font-weight: 900;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body {
  font-family: 'Nexa';
}

body {
  overflow: scroll !important; /* or overflow: hidden; if you want to disable scrolling */
  background-color: #f6f6f6;
}

/* Hide horizontal scrollbar */
body::-webkit-scrollbar:horizontal {
  display: none !important;
}

/* Custom Scrollbar Styles */

/* Scrollbar width */
::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

/* Hide scrollbar completely when using .scrollbar-hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

/* For IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #6d6d6d;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a; /* slightly darker on hover */
  border-radius: 10px !important;
}

/* multiselect */

.multiselect {
  height: 0.55em;
  background-color: #fff !important;
  border: none;
  padding-left: 0.55em;
}

.multiselect-tags-search {
  background-color: #fff !important;
}

.multiselect-placeholder {
  color: #077685;
}

.multiselect-tag {
  background-color: #fff6d3 !important;
  color: #fe8900 !important;
  font-size: 12px !important;
  font-weight: 100 !important;
  line-height: 18.19px;
}
